.button__close {
  width : 48px;
  height : 48px;
  border-radius: 100%;
  background-image: $gradient;
}

.button__global {
  width : 150px;
  height : 48px;
  border-radius: 5px;
  background-image: $gradient;
}