.button__close {
  width : 48px;
  height : 48px;
  border-radius: 100%;
  background-image: $gradient;
}

.button__global {
  width : 150px;
  height : 48px;
  border-radius: 5px;
  background-image: $gradient;
}

.button__top {
  width : 150px;
  height : 45px;
  border: none;
  border-radius: 5px;
  background-image: $gradient;
  margin-right: 15px;
}

.button__top:hover{
  cursor : pointer;
}

.button__text {
  padding-top: 6px;
  align-items : center;
}