.container {
  display: block;
  height: 100vh;
  width: 100%;
}

.container__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 570px;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  &:nth-child(1) {

    padding: 0px 5px 50px 5px;
    justify-content: space-evenly;
  }
  &:nth-child(2) {
    position: relative;
    padding: 70px 5px 50px 5px;
  }
  &:nth-child(3) {
    padding: 70px 0px 0px 0px;
    background: url("http://lorempixel.com/1400/1400/abstract/7/") no-repeat;
    background-size: cover;
    &.demo__video {
      background-color: ghostwhite;
    }
  }
  &:nth-child(4) {
    padding: 70px 0px 0px 0px;
  }
  &:nth-child(5) {
    display: flex;
    background-color: lightgrey;
  }
  &:nth-child(6) {

  }
  &:nth-child(7) {

  }
  &:nth-child(8) {
    height: 145vh;
  }
  &:nth-child(9) {
    height: 120vh;
  }
  &:nth-child(10) {
    height: 120vh;
  }
  &:nth-child(11) {
    background: url("../../images/community.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 520px;

  }
  &:nth-child(12) {
    height: 60vh;
    min-height: 450px;
  }
  &:nth-child(13) {
    background-image: linear-gradient(to bottom, #2f4252, #26313a);
  }
}
