.container {
  display: block;
  height: 100vh;
  width: 100%;
}

.container__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  &:nth-child(1) {

    padding: 0px 5px 50px 5px;
    justify-content: space-evenly;
  }
  &:nth-child(2) {
    position: relative;
    padding: 70px 5px 50px 5px;
  }
  &:nth-child(3) {
    padding: 70px 0px 0px 0px;
    background: url("http://lorempixel.com/1400/1400/abstract/7/") no-repeat;
    background-size: cover;
    &.demo__video {
      background-color: ghostwhite;
    }
  }
  &:nth-child(4) {
    padding: 70px 0px 0px 0px;
  }
  &:nth-child(5) {
    display: flex;
    background-color: lightgrey;
  }
  &:nth-child(6) {
  }
  &:nth-child(7) {
  }
  &:nth-child(8) {
    background-color: aqua;
  }
  &:nth-child(9) {
    background-color: red;
  }
  &:nth-child(10) {
    background-color: thistle;
  }

}
