.app__infos {
  height : 50%;
  margin-top : 30px;

  p {
    margin : 0% 5% 0% 35%;
    text-align: left;
  }
}

.app__stores {
  height : 18%;
  display : flex;
  justify-content : space-around;
  width : 250px;
  margin : 0 auto;

  img {
    width : 95px;
  }
}

.app__picture {
  height : 50%;
  position : absolute;

  img {
    height : 543px;
  }
}

