// HOMEPAGE
// VIDEO DEMO SECTION

.demo__block--top {
  flex-direction : column;
  display : inherit;
  justify-content : space-between;
  align-items : center;

  .demo__button {
    width : 180px;
    margin : 0;
  }
}
