.ecosystem__infos{
  height : 33%;

  h1 {
    margin-bottom : 30px;
  }
}

.ecosystem__images {
  height : 65%;
  display: flex;
  align-items: flex-end;
  justify-content: center;


  .ecosystem__image--fix {
    height : 205px;
    margin-left : 20%;
  }
}