// HOMEPAGE
// ECOSYSTEM SECTION

.ecosystem__infos{
  height : 33%;

  // Responsive
  @media screen and (min-width : 700px) {
    height : 25%;
  }

  h1 {
    margin-bottom : 30px;
  }
}

.ecosystem__images {
  height : 75%;
  display : flex;
  align-items : flex-end;
  justify-content : center;

  .ecosystem__image--fix {
    height : 205px;
    margin-left : 20%;

    // Responsive
    @media screen and (min-width : 700px) {
      margin-left : 00%;
      height : 220px;
    }

    .ecosystem__image--move {
      position : absolute;
      height : 205px;
      }
  }
}