// HOMEPAGE SECTION
// INTRODUCTION PART

.intro__block--top {
  display : inherit;
  height : 50%;
  flex-direction : column;
  justify-content : space-evenly;
  position : relative;

  // Animation
  h1 {
    position : absolute;
    left : 50%;
    transform: translate(-50%);
    top : 35%;
    opacity : 0;
    animation : fadeInFirst 9s ease-out;

    @-webkit-keyframes fadeInFirst {
      0% {
        display : none;
        opacity : 0;
      }

      10% {
        display : block;
        opacity : 0.4;
      }

      20% {
        display : block;
        opacity : 1;
      }

      50% {
        display : block;
        opacity : 1;
      }

      75% {
        display : none;
        opacity : 0;
      }

      100% {
        display : none;
        opacity : 0;
      }
    }
  }

  // Animation
  h2 {
    animation : fade 9s ease-out;

    @-webkit-keyframes fade {
      0% {
        display : none;
        opacity : 0;
      }

      75% {
        display : block;
        opacity : 0;
      }

      90% {
        display : block;
        opacity : 0.4;
      }

      100% {
        display : block;
        opacity : 1;
      }
    }
  }

  // Animation
  h3 {
    animation : fadeInSecond 9s ease-out;
    opacity : 0;

    @-webkit-keyframes fadeInSecond{
      0% {
        display : none;
        opacity : 0;
      }

      10% {
        display : none;
        opacity : 0;
      }

      30% {
        display : block;
        opacity : 0.4;
      }

      30% {
        display : block;
        opacity : 1;
      }

      60% {
        display : block;
        opacity : 1;
      }

      75% {
        display : none;
        opacity : 0;
      }

      100% {
        display : none;
        opacity : 0;
      }
    }
  }
}

.intro__block--bottom {
  display : inherit;
  flex-direction : column;
  height : 50%;
  justify-content : space-between;

  .intro__img--content {
    width : 290px;
    height : 152px;
    margin : auto;
    align-content : center;
    animation : scaler 9s ease-out;
    animation-fill-mode: forwards;

    @-webkit-keyframes scaler {

      0% {
        transform: scale(1);
      }

      60% {
        transform: scale(1);
      }

      100% {
        transform: scale(2.5);
      }
    }
  }

  .intro__subtext {
    justify-self : flex-end;
    opacity : 0;
    animation : fadeInThird 9s ease-out;

    // Animation
    @-webkit-keyframes fadeInThird {
      0% {
        display : none;
        opacity : 0;
      }

      25% {
        display : none;
        opacity : 0;
      }

      35% {
        display : block;
        opacity : 0.4;
      }

      45% {
        display : block;
        opacity : 1;
      }

      60% {
        display : block;
        opacity : 1;
      }

      75% {
        display : none;
        opacity : 0;
      }

      100% {
        display : none;
        opacity : 0;
      }
    }
  }
}
