.intro__block--top {
  display: inherit;
  height: 50%;
  flex-direction: column;
  justify-content: space-evenly;

}

.intro__block--bottom {
  display: inherit;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;

  .intro__img--content {
    width : 312px;
    height : 152px;
    margin : auto;
    align-content: center;
  }

  .intro__subtext {
    justify-self: flex-end;
  }
}
