// POPUP
// TECH SPECS PAGE

.techspecs__page {
  background-image : linear-gradient(to bottom, #26313a, #2f4252);

  article {
    width : 100%;
  }
}

.techspecs__image {
  display : flex;
  align-items : center;
}

.techspecs__container {
  text-align : center;
}

.techspecs__caracteristics {
  padding-left : 10%;
  margin-bottom : 50px;
}
