// HOMEPAGE
// ZOOM SECTION

.zoom__img {

  .zoom__img--content {
    position : absolute;
    width : auto;
    height : 100vh;
    z-index : 1000;
    bottom : -20%;
    right : -21rem;

    // Responsive
    @media screen and (min-width: 700px) {
      right : -5rem;
      height : 90vh;
    }
  }
}