@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/BentonSans-Light.eot');
  src: url('../fonts/BentonSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans-Light.woff') format('woff'),
  url('../fonts/BentonSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/BentonSans-Book.eot');
  src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans-Book.woff') format('woff'),
  url('../fonts/BentonSans-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/BentonSans-Medium.eot');
  src: url('../fonts/BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans-Medium.woff') format('woff'),
  url('../fonts/BentonSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/BentonSans-Bold.eot');
  src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans-Bold.woff') format('woff'),
  url('../fonts/BentonSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}