/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
                    type-of($raw-query) == 'string',
                    unquote($raw-query),
                    inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// BODY
body {
  display : flex;

  & .container {
    width : 100%;
    overflow-x : hidden;
    margin : 0 auto;
  }
}

.content__large {

  // Responsive
  @media screen and (min-width : 700px) {
    width : 700px;
    height : 100%;
    margin : 0 auto;
  }

  @media screen and (min-width : 800px) {
    width : 800px;
    height : 100%;
    margin : 0 auto;
  }
}

.header__desktop {

  // Responsive
  @media screen and (min-width : 900px) {
    width : 90%;
    margin : 0 auto;
  }
}

.visible-desktop {
  display: none;

  // Responsive
  @media screen and (min-width : 800px) {
    display: block;
  }
}

.visible-mobile {
  display: block;

  // Responsive
  @media screen and (min-width : 800px) {
    display: none;
  }
}

.container_popup {
  width : 100%;
  overflow-x : hidden;
  margin : 0 auto;

  @media screen and (min-width : 800px) {
    width: 90%;
    overflow-x: hidden;
    margin: 0 auto;
  }
}
